@font-face {
    font-family: 'latoregular';
    src: url('fonts/lato-regular-webfont.eot');
    src: url('fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/lato-regular-webfont.woff2') format('woff2'),
    url('fonts/lato-regular-webfont.woff') format('woff'),
    url('fonts/lato-regular-webfont.ttf') format('truetype'),
    url('fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'fontello';
    src: url('fonts/fontello.eot');
    src: url('fonts/fontello.eot#iefix') format('embedded-opentype'),
    url('fonts/fontello.woff2') format('woff2'),
    url('fonts/fontello.woff') format('woff'),
    url('fonts/fontello.ttf') format('truetype'),
    url('fonts/fontello.svg#fontello') format('svg');
    font-weight: normal;
    font-style: normal;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 100%;
    margin: 0 10%;
}

.nav {
    position: fixed;
    background-color: #000;
    top: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 20px #000;
    transition: all 0.3s ease-in-out;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 24px;
    z-index: 99;
}

.nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    transition: all 0.3s ease-in-out;
}

ul {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a {
    text-decoration: none;
    padding: 7px 15px;
    font-weight: bold;
    color: #f45f0b;
    transition: all 0.5s ease-in-out;
}
.nav a:hover {
    color: #fff;
}

/*burger*/
.menu-link {
    display: block;
    padding: 0;
    width: 3.125rem;
    height: 3.125rem;
    background-color: #000;
    border: 2px solid #f45f0b;
    border-radius: 50%;
    position: relative;
    z-index: 1;
    transition: 0.5s;
}

.menu-link:hover {
    box-shadow: 0 0 30px #f45f0b;
    transition: 0.5s;
}

.menu--link-item,
.menu--link-item:before,
.menu--link-item:after {
    display: block;
    height: 3px;
    width: 32px;
    position: absolute;
    left: 50%;
    margin-left: -16px;
    top: 50%;
    margin-top: -2px;
    background-color: #f45f0b;
}

.menu--link-item:before {
    content: '';
    margin-top: 6px;
    transition: all 0.2s;
}

.menu--link-item:after {
    content: '';
    margin-top: -10px;
    transition: all 0.2s;
}

.menu-link_active .menu--link-item {
    background-color: transparent;
}

.menu-link_active .menu--link-item:after {
    margin-top: 0;
    transform: rotate(135deg);
}

.menu-link_active .menu--link-item:before {
    margin-top: 0;
    transform: rotate(-135deg);
}
.burger-menu {
    display: none;
}
/*button reservation*/

.button {
    position: relative;
    display: inline-block;
    float: right;
    color: #f45f0b;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.938rem 1.875rem;
    overflow: hidden;
    transition: 0.5s;
}

.button:hover {
    transition: 0.5s;
    transition-delay: 1.2s;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #f45f0b);
}

.button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #f45f0b);
}

.button__line--right {
    right: 0;
    bottom: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(0deg, transparent, #f45f0b);
}

.button__line--left {
    left: 0;
    top: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, transparent, #f45f0b);
}

.button:hover .button__line--top {
    left: 100%;
    transition: 2s;
}

.button:hover .button__line--bottom {
    right: 100%;
    transition: 2s;
}

.button:hover .button__line--right {
    bottom: 100%;
    transition: 2s;
}

.button:hover .button__line--left {
    top: 100%;
    transition: 2s;
}
/*logo*/

.logo {
    display: flex;
    padding: 20px;
    height: 3.125rem;
    width: 3.125rem;
    border: 2px solid #f45f0b;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    letter-spacing: -0.125rem;
    transition: all 0.5s;
    background-color: #000;
}


.logo a {
    color: #f45f0b;
    padding: 0;
}

.logo:hover {
    box-shadow: 0 0 30px #f45f0b;
}

/*pod4erkivanie*/
.logotype,
.main-nav__item {
    position: relative;
}
.logo a:before,
.main-nav__items a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.063rem;
    background-color: #fff;
    transform: scalex(0);
    transition: 0.3s;
}
.logo a:hover:before,
.main-nav__items a:hover:before {
    color: #fff;
    transform: scalex(1);
}
.logo a:hover,
.main-nav__items a:hover {
    color: #fff;
    transition: 0.5s;
}

.main-footer {
    display: flex;
    justify-content: center;
    background: #201a19;
    padding: 2rem;
    box-shadow: 7px 5px 0 -5px #201A19;
}

.social {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    color: #fff;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    margin: 0 10px;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 24px;
    transition: all 0.5s;
}

.social__item:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.whatsapp:hover {
    color: #43d854;
    border-color: #43d854;
    box-shadow: 0 0 35px #43d854;
}

.twitter:hover {
    color: #00acee;
    border-color: #00acee;
    box-shadow: 0 0 35px #00acee;
}

.telegram:hover {
    color: #0088cc;
    border-color: #0088cc;
    box-shadow: 0 0 35px #0088cc;
}

.facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
    box-shadow: 0 0 35px #3b5998;
}

.instagram:hover {
    color: #E1306C;
    border-color: #E1306C;
    box-shadow: 0 0 35px #E1306C;
}

.bg-reservation {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(169, 115, 20, 0.45);
    z-index: 10;
}

.box {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 20%;
    padding: 5%;
    transform: translate(-50%,-50%);
    border: 2px solid #f45f0b;
    border-radius: 20px;
    background-color: oldlace;
    color: #000;
    font-family: FuturaBookC, sans-serif;
    z-index: 10;
}


.form {
    font-family: sans-serif;
    letter-spacing: 1px;
}

.form__input,
.form__button {
    font-family: sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
}

.form__title {
    text-align: center;
    margin-bottom: 32px;
    font-weight: normal;
}

.form__group {
    position: relative;
    margin-bottom: 32px;
}

.form__label {
    position: absolute;
    top: 0;
    z-index: -1;
    color: #89888a;
    transition: 0.3s;
}

.form__input {
    width: 100%;
    padding-bottom: 10px;
    border: none;
    border-bottom: 1px solid #89888a;
    background-color: transparent;
    outline: none;
    transition: 0.3s;
}

.form__input:focus {
    border-bottom: 1px solid black;
}

.form__button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    color: #f45f0b;
    background-color: black;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
}

.form__button:focus,
.form__button:hover {
    background-color: #f45f0b;
    color: black;
}

.form__button:active {
    transform: scale(0.95);
}

.form__input:focus ~ .form__label,
.form__input:not(:placeholder-shown) ~ .form__label {
    top: -18px;
    font-size: 12px;
    color: #ada8ad;
}

.reservation {
    position: relative;
    display: none;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background: #89888a;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.btn-close:after {
    font: normal normal normal 14px/1 "fontello";
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    content: "\e801";
    display: inline-block;
    font-size: 15px;
    vertical-align: middle;
}

.btn-close:hover {
    background: #f74c26;
    cursor: pointer;
}

.btn-close:active {
    transform: scale(0.9);
}

form h1 {
    text-align: center;
}
@media all and (max-width: 82rem) {
    .burger-menu {
        display: flex;
    }
    .logo {
        display: none;
    }
    .main-nav__items {
        display: block;
        position: absolute;
        top: 100%;
        left: -100%;
        list-style-type: none;
        background: #000;
        transition: 0.3s;
    }
    .active {
        left: 0;
    }

    .main-nav__item {
        display: block;
        text-decoration: none;
        padding: 7px 15px;
        font-weight: bold;
        color: #f45f0b;
        transition: all 0.5s ease-in-out;
        text-align: center;
    }

}
