.main-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 60;
}

.main-nav {
    position: fixed;
    width: 100%;
    font-family: roboto, sans-serif;
    text-transform: uppercase;
    z-index: 999;
}

.main-nav__items {
    display: flex;
    position: relative;
    width: 100%;
    height: 100px;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    font-weight: bolder;
    background-color: black;
    list-style-type: none;
    box-shadow: 0 0 20px #000;
    margin: 0;
    padding: 0;
}

.main-nav__item {
    padding: 0.625rem 1.125rem;
}

.main-nav__item a {
    position: relative;
    text-decoration: none;
    color: #f45f0b;
    transition: 0.5s;
}

.main-nav__item a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.063rem;
    background-color: #fff;
    transform: scalex(0);
    transition: 0.3s;
}

.main-nav__item a:hover:before {
    color: #fff;
    transform: scalex(1);
}

.main-nav__item a:hover {
    color: #fff;
    transition: 0.5s;
}

.main-nav__reservation a:hover {
    color: white;
}

/* Лого*/
.logo {
    display: flex;
    position: absolute;
    padding: 0;
    left: 1.25rem;
    height: 3.125rem;
    width: 3.125rem;
    border: 2px solid #f45f0b;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: -0.125rem;
    transition: all 0.5s;
    background-color: #000;
}

.logo a {
    color: #f45f0b;
}

.logo:hover {
    box-shadow: 0 0 30px #f45f0b;
}

.main-nav__reservation {
    box-sizing: border-box;
    position: absolute;
    right: 0.625rem;
}

.button {
    position: relative;
    display: inline-block;
    float: right;
    color: #f45f0b;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0.938rem 1.875rem;
    overflow: hidden;
    transition: 0.5s;
}

.button:hover {
    transition: 0.5s;
    transition-delay: 1.2s;
}

.button__line {
    position: absolute;
    display: block;
}

.button__line--top {
    top: 0;
    left: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(90deg, transparent, #f45f0b);
}

.button__line--bottom {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, transparent, #f45f0b);
}

.button__line--right {
    right: 0;
    bottom: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(0deg, transparent, #f45f0b);
}

.button__line--left {
    left: 0;
    top: -100%;
    height: 100%;
    width: 1px;
    background: linear-gradient(180deg, transparent, #f45f0b);
}

.button:hover .button__line--top {
    left: 100%;
    transition: 2s;
}

.button:hover .button__line--bottom {
    right: 100%;
    transition: 2s;
}

.button:hover .button__line--right {
    bottom: 100%;
    transition: 2s;
}

.button:hover .button__line--left {
    top: 100%;
    transition: 2s;
}

.main-footer {
    display: flex;
    justify-content: center;
    background: #201a19;
    padding: 2rem;
    margin-top: 3rem;
    box-shadow: 7px 5px 0 -5px #201A19;
}

.social {
    list-style-type: none;
    width: 450px;
    color: #fff;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

.social__item {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border: 3px solid white;
    border-radius: 50%;
    font-size: 24px;
    transition: all 0.5s;
}

.social__item:hover {
    cursor: pointer;
    transition: all 0.5s;
}

.whatsapp:hover {
    color: #43d854;
    border-color: #43d854;
    box-shadow: 0 0 35px #43d854;
}

.twitter:hover {
    color: #00acee;
    border-color: #00acee;
    box-shadow: 0 0 35px #00acee;
}

.telegram:hover {
    color: #0088cc;
    border-color: #0088cc;
    box-shadow: 0 0 35px #0088cc;
}

.facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
    box-shadow: 0 0 35px #3b5998;
}

.instagram:hover {
    color: #E1306C;
    border-color: #E1306C;
    box-shadow: 0 0 35px #E1306C;
}

@media all and (max-width: 82rem) {
    .main-nav__items {
        display: inline-block;

    }

    .main-header {
        display: flex;
        flex-flow: column;
    }

    .main-nav__item {
        display: none;
    }

    .main-nav__reservation {
        position: inherit;
        display: block;
    }

    .button {
        margin: 20px auto;
    }

    /*бургер*/
    .menu-link {
        display: block;
        width: 3.125rem;
        height: 3.125rem;
        background-color: #000;
        border: 2px solid #f45f0b;
        border-radius: 50%;
        position: fixed;
        top: 1.25rem;
        left: 1.25rem;
        z-index: 1;
        transition: 0.5s;
    }

    .menu-link:hover {
        box-shadow: 0 0 30px #f45f0b;
        transition: 0.5s;
    }

    .menu--link-item,
    .menu--link-item:before,
    .menu--link-item:after {
        display: block;
        height: 3px;
        width: 32px;
        position: absolute;
        left: 50%;
        margin-left: -16px;
        top: 50%;
        margin-top: -2px;
        background-color: #f45f0b;
    }


    .menu--link-item:before {
        content: '';
        margin-top: 6px;
        transition: all 0.2s;
    }

    .menu--link-item:after {
        content: '';
        margin-top: -10px;
        transition: all 0.2s;
    }

    .menu-link_active .menu--link-item {
        background-color: transparent;
    }

    .menu-link_active .menu--link-item:after {
        margin-top: 0;
        transform: rotate(135deg);
    }

    .menu-link_active .menu--link-item:before {
        margin-top: 0;
        transform: rotate(-135deg);
    }

    .social__item {
        display: flex;
        flex-flow: column;
    }
}

a .active {
    color: #fff;
text-decoration: underline 2px solid red;
}