
.hello {
    display: inline-block;
    color: red;
    width: 20%;
    background-color: mediumslateblue;
    margin-top: 200px;
    padding: 50px;
}

.hello:hover {
    background-color: grey;
    color: white;
    cursor: progress;
}

.background {
    background: url("images/bar.jpg") no-repeat center/cover;
    background-size: auto, cover, auto;
    padding: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;

}