body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Constantia, sans-serif;
    font-size: 24px;
}

img {
    width: 100vw;
    object-fit: cover;

    opacity: .3;
}

.slider-line {
    position: relative;
    left: 0;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100vh;
    transition: all ease 1s;
}
.Who-we-are {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.visit-us {
    width: 50%;
    position: absolute;
    top: 50%;
    right: -100%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.connect-us {
    width: 50%;
    position: absolute;
    top: 50%;
    right: -200%;
    transform: translate(-50%, -50%);
    text-align: center;
}



.slider-prev {
    position: fixed;
    left: 1%;
    top: 50%;
}
.slider-next{
    position: fixed;
    right: 1%;
    top: 50%;
}
.btn {
    width: 50px;
    height: 50px;
    background-color: #f45f0b;
    border: 2px solid black;
    border-radius: 50%;
    opacity: 0.6;
    font-weight: bold;
    cursor: pointer;
}

.btn:active {
    opacity: 1;
}
.current a {
    color: #fff;
}