body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Constantia, sans-serif;
    font-size: 1.5rem;
    background-color: #FFFAF0;
}

.slider-block {
    position: relative;
    box-shadow: 10px 10px 30px;
}

img {
    width: 100vw;
    object-fit: cover;
    opacity: .3;
}

.slider-line {
    position: relative;
    background-size: cover;
    display: flex;
    width: 100vw;
    height: 100%;
    transition: all ease 1s;
}

.description {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    box-sizing: border-box;
    margin: 2% 10%;
    padding: 2%;
    text-align: center;
    font-size: 1.5rem;
    border-bottom: 1px solid #000;
}

.who-we-are,
.visit-us,
.connect-us {
    display: inline-block;
    width: 300px;
    margin: 2%;
}

.go-location a {
    display: block;
    position: relative;
    text-decoration: none;
    color: #f45f0b;
}

.go-location a:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
    transform: scalex(0);
    transition: 0.3s;
}

.go-location a:hover {
    color: #89888a;
}

.go-location a:hover:before {
    color: #000;
    transform: scalex(1);
}

.slider-prev {
    position: absolute;
    left: 1%;
    top: 50%;
}

.slider-next {
    position: absolute;
    right: 1%;
    top: 50%;
}

.btn {
    width: 50px;
    height: 50px;
    background-color: #000;
    border: 2px solid #f45f0b;
    border-radius: 50%;
    opacity: 0.6;
    font-weight: bold;
    cursor: pointer;
    color: #f45f0b;
}

.btn:hover {
    opacity: 1;
}

.btn:active {
    transform: scale(0.95);
}

.current a {
    color: #fff;
}

.slider {
    height: 600px;
}

@media all and (max-width: 1400px) {
    .who-we-are,
    .connect-us {
        border-bottom: 1px solid black;
    }
}

@media (max-width: 640px) {
    body {
        font-size: 1.3rem;
    }

}