body {
    margin: 0;
    padding: 0;
    background-color: #f6f9f9;
    overflow-x: hidden;
}
.map {
    display: block;
    margin-top: 7%;
    width: 100%;
    height: 450px;
}
.block {
    display: inline-block;
    margin-top: 7%;
    width: 100%;
    height: 400px;
    background: linear-gradient(90deg, transparent, #E1306C, transparent);
}

.description {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.address, .name {
    width: 20%;
    margin: 0 5%;
    display: inline-block;
    text-align: left;
    vertical-align: middle;
}
.name {
    padding: 0;
    text-align: center;
}
@media all and (max-width: 82rem){
    .address, .name {
        display: block;
        width: 50%;
        margin: 20px auto;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .map {
        display: block;
        margin-top: 20%;
    }
}
/*
@media all and (max-width: 480px) {
    .portfolio-heading {
        display: block;
        margin: 20% auto 10%;
    }
}

@media screen and (max-width: 30em)  {
    .portfolio-heading {
        display: block;
        margin: 5% auto;
    }
*/