body {
    font-family: Constantia, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f6f9f9;
    box-sizing: border-box;
}

.bg {
    background-image: url("../../images/food/food5.jpg");
    height: 60vh;
    background-repeat: no-repeat;
    background-size: cover;
}

.cards-holder {
    display: flex;
    justify-content: center;
}

.card {
    width: 13%;
    margin-top: -2%;
    margin-right: 30px;
    padding: 0 10px;
    box-shadow: 10px 10px 10px black;
    background-color: #fff;
}

.card-image,
.card-title,
.card-description {
    display: flex;
    justify-content: center;
}

.card-description {
    text-align: center;
    margin-bottom: 20px;
}

.card-img {
    padding-top: 20px;
}

.card-title {
    padding-bottom: 10px;
}

.accordion {
    margin: 5% auto;
    display: block;
    width: 50%;

}

.accordion-wrapper {
    border: 1px solid #f45f0b;
    border-radius: 5px;
}

.accordion-header {
    padding: 20px;
    background-color: #000;
    color: #f45f0b;
    border: 1px solid #f45f0b;
    cursor: pointer;
}

.accordion-header:hover {
    background-color: #f45f0b;
    color: #000;
}

.accordion-body {
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-in;
    box-sizing: border-box;
    margin: 0 10px;
}

.accordion-body > * {
    display: block;
    margin: 0;
}

.line {
    width: 100%;
    border-bottom: 1px dotted #000;
}

td {
    padding: 10px 0;
}

.food {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}
.food:last-child {
    border: none;
}

table {
    margin: 0 auto;
}

h5 {
    color: #89888a;
}

.wine-position {
    display: block;
    width: 100%;
    border-bottom: 2px dotted black;
    text-align: center;
}

@media all and (min-width: 640px) {

}


@media all and (max-width: 640px) {
    .accordion {
        width: 100%;
    }

    .food {
        display: block;
        text-align: center;
    }

    .cards-holder {
        display: block;
        width: 100%;
        text-align: center;
    }
    .card {
        width: 100%;
        margin-right: 0;
    }
    .card-description {
        padding-bottom: 10px;
    }
}

