* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.ccc {
    width: 80%;
    height: 500px;
    display: block;
    margin: 0 auto;
    background-color: #E1306C;
    text-align: center;

}
.reserv {
    display: inline-block;

    width: 20%;
    height: 30%;
    background-color: #0088cc;
}
.qwer {
    display: inline-block;
    width: 20%;
    height: 30%;
    background-color: #43d854;

}

